# Homework 2 - How do Taxis move in NYC?

## Imported libraries

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [39]:
# loading zone_lookup
taxi_zone_lookup=pd.read_csv('taxi_zone_lookup.csv',sep=',')

## January

In [40]:
# loading yellow_tripdata
yellow_tripdata_january=pd.read_csv('yellow_tripdata_2018-01.csv')

## Descriptive statistics

In [74]:
# merging the two dataframes

merged = pd.merge(yellow_tripdata_january,taxi_zone_lookup,
                      how="left",left_on="PULocationID",right_on="LocationID")


# compute the duretion for each trip
merged['tpep_pickup_datetime']=pd.to_datetime(merged['tpep_pickup_datetime'])
merged['tpep_dropoff_datetime']=pd.to_datetime(merged['tpep_dropoff_datetime'])
merged['duration'] = merged['tpep_dropoff_datetime'] - merged['tpep_pickup_datetime']


merged.drop(['VendorID','DOLocationID','store_and_fwd_flag',
             'extra','mta_tax','tip_amount','tolls_amount',
             'tpep_dropoff_datetime'],axis=1,inplace=True)

In [87]:
del yellow_tripdata_january

NameError: name 'yellow_tripdata_january' is not defined

In [80]:
merged.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Borough,Zone,service_zone,duration
0,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,Manhattan,Central Harlem,Boro Zone,00:03:18
1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,Manhattan,Upper West Side South,Yellow Zone,00:18:10
2,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,Manhattan,Yorkville East,Yellow Zone,00:05:55
3,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,Manhattan,Lenox Hill East,Yellow Zone,00:32:29
4,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,Manhattan,West Chelsea/Hudson Yards,Yellow Zone,00:17:48

KeyError: "labels ['VendorID' 'DOLocationID'] not contained in axis"

In [83]:
merged.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Borough,Zone,service_zone,duration
0,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,Manhattan,Central Harlem,Boro Zone,00:03:18
1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,Manhattan,Upper West Side South,Yellow Zone,00:18:10
2,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,Manhattan,Yorkville East,Yellow Zone,00:05:55
3,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,Manhattan,Lenox Hill East,Yellow Zone,00:32:29
4,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,Manhattan,West Chelsea/Hudson Yards,Yellow Zone,00:17:48

In [85]:
#merged_jan['RatecodeID']=pd.Series(yellow_tripdata_january['RatecodeID'], dtype='object')

In [102]:
yellow_tripdata_january.dtypes

tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                       object
PULocationID                      int64
payment_type                     object
fare_amount                     float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

## 1. [RQ1] In what period of the year Taxis are used more?

In [ ]:
Avg # of trips per each day in January per each borough

In [ ]:
np.unique()

In [27]:
sns.set(style="whitegrid")
ax = sns.barplot(x="day", y="Borough", data=tips)

In [109]:
joined_tripdata_january.shape

(1048480, 14)

In [108]:
joined_tripdata_january.to_csv('farfalla.csv')

In [37]:
#I think we should make a list of processed/transformed datasets

#like a list of dataframes and use for loops or whatever we need XD

3.14

hi