In [1]:
import pandas as pd

In [3]:
dt = pd.read_csv("yellow_tripdata_2018-01.csv")

In [4]:
dt.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06,8.759874e+06
mean,1.560940e+00,1.606855e+00,2.804001e+00,1.039545e+00,1.644585e+02,1.627269e+02,1.310611e+00,1.224434e+01,3.246822e-01,4.975067e-01,1.818745e+00,3.026133e-01,2.996306e-01,1.549098e+01
std,4.962724e-01,1.258464e+00,6.412346e+01,4.450700e-01,6.636021e+01,7.031164e+01,4.817818e-01,1.168321e+01,4.502524e-01,4.333319e-02,2.486341e+00,1.738185e+00,1.442815e-02,1.419540e+01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.500000e+02,-4.469000e+01,-5.000000e-01,-8.880000e+01,-1.500000e+01,-3.000000e-01,-4.503000e+02
25%,1.000000e+00,1.000000e+00,9.100000e-01,1.000000e+00,1.160000e+02,1.130000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00
50%,2.000000e+00,1.000000e+00,1.550000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.360000e+00,0.000000e+00,3.000000e-01,1.130000e+01
75%,2.000000e+00,2.000000e+00,2.840000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.350000e+00,0.000000e+00,3.000000e-01,1.662000e+01
max,2.000000e+00,9.000000e+00,1.894838e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,8.016000e+03,6.000000e+01,4.549000e+01,4.417100e+02,9.507000e+02,1.000000e+00,8.016800e+03

In [5]:
dt.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55

In [10]:
day = dt.head(1)['tpep_pickup_datetime']

In [11]:
day

0    2018-01-01 00:21:05
Name: tpep_pickup_datetime, dtype: object

In [15]:
import datetime

In [ ]:
day = datetime(day)

In [41]:
dt['tpep_pickup_datetime'] = pd.to_datetime(dt['tpep_pickup_datetime'])

In [40]:
dt.loc[613000,'tpep_pickup_datetime']

3

In [42]:
dt['tpep_dropoff_datetime'] = pd.to_datetime(dt['tpep_dropoff_datetime'])

In [43]:
print (dt.loc[613000,'tpep_pickup_datetime'], dt.loc[613000,'tpep_dropoff_datetime'])

2018-01-03 15:40:39 2018-01-03 15:55:48

In [52]:
delta = dt.loc[613000,'tpep_dropoff_datetime'] - dt.loc[613000,'tpep_pickup_datetime']

In [53]:
delta

Timedelta('0 days 00:15:09')

In [57]:
delta.seconds / 60

15.15

In [60]:
# creating a new attribute: 'trips_duration'
dt["trips_duration"]= dt['tpep_dropoff_datetime'] - dt['tpep_pickup_datetime']

In [61]:
dt["trips_duration"]

0         00:03:18
1         00:18:10
2         00:05:55
3         00:32:29
4         00:17:48
5         00:03:19
6         00:10:16
7         00:02:24
8         00:04:27
9         00:05:20
10        00:05:46
11        00:24:39
12        00:04:11
13        00:09:33
14        00:15:46
15        00:17:06
16        00:42:33
17        00:04:13
18        00:36:45
19        00:05:56
20        00:19:43
21        00:12:37
22        00:21:13
23        00:26:50
24        00:12:55
25        00:04:34
26        00:22:01
27        00:02:50
28        00:07:14
29        00:06:57
            ...
8759844   00:03:12
8759845   00:16:19
8759846   00:12:23
8759847   00:11:34
8759848   00:07:30
8759849   00:13:49
8759850   00:07:07
8759851   00:22:58
8759852   00:28:38
8759853   00:21:52
8759854   00:14:16
8759855   00:04:22
8759856   00:30:31
8759857   00:07:37
8759858   00:03:42
8759859   00:19:34
8759860   00:34:59
8759861   00:01:57
8759862   00:06:11
8759863   00:15:29
8759864   00:08:42
8759865   00:04:11
8759866   00:04:39
8759867   00:10:00
8759868   00:10:11
8759869   00:12:45
8759870   00:03:06
8759871   00:09:09
8759872   00:00:48
8759873   00:00:22
Name: trips_duration, Length: 8759874, dtype: timedelta64[ns]

In [64]:
dt['trips_duration'].isna()

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
8759844    False
8759845    False
8759846    False
8759847    False
8759848    False
8759849    False
8759850    False
8759851    False
8759852    False
8759853    False
8759854    False
8759855    False
8759856    False
8759857    False
8759858    False
8759859    False
8759860    False
8759861    False
8759862    False
8759863    False
8759864    False
8759865    False
8759866    False
8759867    False
8759868    False
8759869    False
8759870    False
8759871    False
8759872    False
8759873    False
Name: trips_duration, Length: 8759874, dtype: bool

In [70]:
for x in dt['trips_duration'].isna():
    if x is True:
        print(x)

In [81]:
for i in range (1,20):
    print (dt['trips_duration'][i])

0 days 00:18:10
0 days 00:05:55
0 days 00:32:29
0 days 00:17:48
0 days 00:03:19
0 days 00:10:16
0 days 00:02:24
0 days 00:04:27
0 days 00:05:20
0 days 00:05:46
0 days 00:24:39
0 days 00:04:11
0 days 00:09:33
0 days 00:15:46
0 days 00:17:06
0 days 00:42:33
0 days 00:04:13
0 days 00:36:45
0 days 00:05:56

In [90]:
dt.select_dtypes(["object"]).describe()

       store_and_fwd_flag
count             8759874
unique                  2
top                     N
freq              8729098

In [88]:
# check in all the dataframe if there are null
# with sum you're printing a "counter" of NA for every attribute
# default value : axis = 0 => it means for every attribute
# ex: axis = 1 => sum for every row
dt.isna().sum(axis=1)

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
8759844    0
8759845    0
8759846    0
8759847    0
8759848    0
8759849    0
8759850    0
8759851    0
8759852    0
8759853    0
8759854    0
8759855    0
8759856    0
8759857    0
8759858    0
8759859    0
8759860    0
8759861    0
8759862    0
8759863    0
8759864    0
8759865    0
8759866    0
8759867    0
8759868    0
8759869    0
8759870    0
8759871    0
8759872    0
8759873    0
Length: 8759874, dtype: int64

In [83]:
dt.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
trips_duration           0
dtype: int64